{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 align = "center">Your Playground</h1>
<ul class = "list-group list-group-flush" id = "algorithms">
    {%for algorithm in user.algorithms%}
    <li class = "list-group-item">{{algorithm.data}}
        <button type = "button" class = "close" onClick = "deleteNote({{ algorithm.id }})">
            <span aria-hidden = "true">&times;</span>
        </button>
    </li>
    {%endfor%}
</ul>
<form method = "POST"> 
    
    <div class = "form-group">
        <label for = "filename">File Name</label>
        <input
        type = "text"
        class = "form-control"
        id = "filename"
        name = "filename"
        placeholder = "Enter file name"
        />
    </div>
    <textarea name = "algorithm" id = "algorithm" class = "form-control"> </textarea>
        <br />
        <div align = "center">
            <button type = "submit" class = "btn btn-primary"> Run Algorithm! </button>
        </div>
   
</form>
{% endblock %}